.header {
  align-items: center;
  border-bottom: 1px solid #999;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.headerContent {
  display: flex;
  box-sizing: border-box;
  height: 56px;
  padding: 4px 0;
  width: 100%;
}
